<%- include('partials/header') %>
<!-- <link rel="stylesheet" href="styles.css"> -->



    <div class="ui center aligned container">
        <h1 class="ui big header">Blog Site</h1>
        <p>Work in progress...</p>
    </div>
    



    <%data.forEach(item=>{%>
        <div class="ui text container">
            <div class="ui holder segment">
                    <img class="ui tiny  left floated image" src="<%=item.image%>"  >
                    <h3><%=item.name%></h3>
                    <p><small><%=item.created%></small></p>
                    <p class="text-con"><%=item.content.substring(0,100)%>...</p>
                    <a class="link" href="/show/<%=item._id%>">Read more<i class="angle right icon"></i></a>
            </div>
        
        </div>
            

        
        
   <%})%>
       
        
    

<%- include('partials/footer') %>
